@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Cormorant+Infant:wght@300;500;700&display=swap');

/* In your CSS */
:root {
  --color-primary: #f4813f;
  --color-primary-light: #ffb26d;
  --color-primary-dark: #bc520f;

  --color-secondary: #f1556a;
  --color-secondary-light: #ff8898;
  --color-secondary-dark: #b91a40;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* Custom */
@import './assets/styles/product.css';


.swiper-pagination-bullet {
  width: .75em !important;
  height: .75rem !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}
