/* Components: Product */

.card-product {
  cursor: pointer;
}

.card-product .card-product-actions {
  padding-top: 0.75rem;
  margin-bottom: -3rem;

  visibility: hidden;
  opacity: 0;

  transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, margin-bottom 0.35s ease-in-out;
  overflow: hidden;
}

.card-product:hover .card-product-actions {
  visibility: visible;
  opacity: 1;
  margin-bottom: 0;
}
